#loader {
    background-color: #fff;
    z-index: 10;
    transition: .6s cubic-bezier(0.2, 0.74, 0.54, 0.99);
    position: fixed;
    width: 100%;
    height: 100%;
    .loader-container {
        transition: 1s cubic-bezier(0.2, 0.74, 0.54, 0.99);
    }    
    &.hide-loader {
        opacity: 0;
        filter: blur(10px);

        >.loader-container {
            opacity: 0;
        }
    }

    .loader-container {
        width: 100%;
        height: 100%;
    }
}


/* cube loader */

.cube {
    cursor: progress;
    width: 80px;
    height: 80px;
    line-height: 90px;
    text-align: center;
    font-size: 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s 0.1s;
    perspective: 9999px;
    color: $color-accent;
    margin: -40px 0 0 -40px;
    position: absolute;
    left: 50%;
    top: 50%;

    &.panel-load {
        animation: panel 2s infinite forwards;
        animation-timing-function: cubic-bezier(0.83, -0.03, 0.54, 0.99);

        .cube-face {
            color: black;
            box-shadow: inset 0 0 2px 1px $color-accent, 0 0 2px 1px $color-accent;
        }
    }

    .cube-face {
        width: inherit;
        height: inherit;
        position: absolute;
        background: #ffffffe0;
        box-shadow: inset 0 0 2px 1px $color-accent, 0 0 2px 1px $color-accent;
        opacity: 1;

        i {
            filter: blur(.5px);
        }
    }

    .cube-face-front {
        transform: translate3d(0, 0, 40px);
        font-size: 57px;
    }

    .cube-face-back {
        transform: rotateY(180deg) translate3d(0, 0, 40px);
    }

    .cube-face-left {
        transform: rotateY(-90deg) translate3d(0, 0, 40px);
    }

    .cube-face-right {
        transform: rotateY(90deg) translate3d(0, 0, 40px);
    }

    .cube-face-top {
        transform: rotateX(90deg) translate3d(0, 0, 40px);
    }

    .cube-face-bottom {
        transform: rotateX(-90deg) translate3d(0, 0, 40px);
    }
}


@keyframes panel {
    0% {
        transform: rotateY(0deg) rotateZ(0deg);
    }

    20% {
        transform: rotateY(90deg) rotateZ(0deg);
    }

    40% {
        transform: rotateX(45deg) rotateZ(45deg);
    }

    60% {
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }

    80% {
        transform: rotateX(310deg) rotateZ(230deg)
    }

    100% {
        transform: rotateX(360deg) rotateZ(360deg)
    }
}