.loader-container {
    width: 100%;
    height: 100%;
    z-index: 10;
    background: white;
    position: fixed;

    &.loaded {
        filter: blur(1em);
        background: transparent;
        transition: .3s ease-in-out;
        opacity: 0;
    }
}

.cube-loader {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s 0.1s;
    perspective: 9999px;
    color: #333;
    margin: -40px 0 0 -40px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -37px;
    top: 50%;
    z-index: 11;
    animation: rotate 2s infinite forwards;
    margin-top: -50px;

    .cube-face {
        box-shadow: inset 0 0 2px 1px #089ee5, 0 0 1px 1px #089ee5;
        width: inherit;
        height: inherit;
        position: absolute;
        background: #ffffffed;
        color: black;
    }
}

.cube-loader .cube-face-front {
    transform: translate3d(0, 0, 40px);
    font-size: 57px;
}

.cube-loader .cube-face-back {
    transform: rotateY(180deg) translate3d(0, 0, 40px);
}

.cube-loader .cube-face-left {
    transform: rotateY(-90deg) translate3d(0, 0, 40px);
}

.cube-loader .cube-face-right {
    transform: rotateY(90deg) translate3d(0, 0, 40px);
}

.cube-loader .cube-face-top {
    transform: rotateX(90deg) translate3d(0, 0, 40px);
}

.cube-loader .cube-face-bottom {
    transform: rotateX(-90deg) translate3d(0, 0, 40px);
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateZ(0deg);
    }

    20% {
        transform: rotateY(90deg) rotateZ(0deg);
    }

    40% {
        transform: rotateX(45deg) rotateZ(45deg);
    }

    60% {
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }

    80% {
        transform: rotateX(310deg) rotateZ(230deg);
    }

    100% {
        transform: rotateX(360deg) rotateZ(360deg);
    }
}