$color-accent: #089ee5;
$border-size: 3px;
$divider: " / ";
$font-weight-default: 100;
$bullet-default: " > ";
$color-summary: rgba(0, 0, 0, .6);
$font-family: 'Montserrat',
'Helvetica Neue',
Arial,
sans-serif;

@mixin list-item-highlight($highlight-color, $bg-color, $text-color, $bullet) {
    li {
        padding: 0.3em 0.5em !important;
        background-color: $bg-color;
        border-bottom: 1px solid white;
        transform: perspective(1px) translateZ(0);

        a {
            padding-right: 1em;

            &:hover {
                padding-right: 1.1em;
            }
        }

        &:before {
            content: $bullet;
            line-height: 1.8em;
            position: absolute;
            z-index: -1;
            top: 0;
            left: -.5em;
            right: 0;
            bottom: 0;
            background-color: $highlight-color !important;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
        }

        &:hover {
            transform: translateX(1em) scale(1.01);
            transform-origin: left;
            opacity: .7;
            background-color: $highlight-color !important;
            color: $text-color;
        }

        &:hover:before {
            transform: scaleX(1);
        }
    }
}

html,
body {
    font-family: $font-family;
    font-weight: $font-weight-default;
    font-size: 1em;

    &.disable-scroll {
        overflow-y: hidden;
    }
}

i,
a,
h1,
ul,
li {
    transition: .3s ease-in-out;
}

a {
    cursor: pointer;
    color: inherit !important;
}

ul,
li {
    list-style-type: none !important;
    margin-left: 0;
    padding-left: 0;
    transition: .3s;
}

i,
a,
button,
select,
div {
    text-decoration: none !important;
    outline: none !important;
}

section {
    max-width: 60em;
    margin: auto;
    overflow-x: hidden;
    padding: 1em 1em 0em;
    transition: .3s ease-in-out;
    overflow: visible;
    word-wrap: break-word;
    font-weight: 300;
    font-size: 1.05em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

::-webkit-scrollbar {
    display: none;
}

.footer {
    font-size: 1.2em;
    margin: 1em auto;
    text-align: center;
}

.experience>span:after,
.environment>span:after,
.projects>span:after,
.opensource>span:after,
.skills>ul>li>span:after,
.work-details>span:nth-child(odd):after {
    content: $divider;
    color: $color-accent;
}

.experience>span:last-child:after,
.environment>span:last-child:after,
.projects>span:last-child:after,
.opensource>span:last-child:after,
.skills>ul>li>span:last-child:after {
    content: '';
}

h2,
.header-name,
.nav-close,
.nav-menu>ul>li:nth-child(even) {
    color: $color-accent !important;
}

.home-btn {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    padding: 0em 0.2em;
    color: #089ee5;
}

.nav-btn {
    position: fixed;
    width: 3em;
    z-index: 5;
    right: .2em;
    top: .5em;

    .nav-icon>span {
        display: block;
        height: .2em;
        width: 2em;
        background-color: $color-accent;
        margin: 0.3em;
        border-radius: 1em;
        transition: .1s ease-in-out;
    }

    &.nav-close {
        .nav-icon>.first {
            transform: rotate(-45deg) translate(0, 0em);
            transform-origin: right;
        }

        .nav-icon>.second {
            opacity: 0;
        }

        .nav-icon>.third {
            transform: rotate(45deg) translate(-.3em, -1.1em);
            transform-origin: left;
        }
    }
}

.nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    padding: 0.2em .4em;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    transition: .3s ease-in-out;
    transform: translateX(-10%);
    overflow-x: hidden;

    &.nav-open {
        visibility: visible;
        opacity: 1;
        z-index: 4;
        transform: translateX(0);
    }

    .nav-menu {
        width: 100%;
        height: 100%;

        ul {
            padding: 2em 0 !important;
            width: 100%;
            @include list-item-highlight(transparent, transparent, inherit, "");

            li {
                padding: .1em 1em !important;

                a {
                    font-size: 10vmin;
                    font-weight: 200;
                }
            }
        }
    }
}

.page-wrap {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: absolute;
    transition: .3s ease-in-out;
    transform: translate(0);
    z-index: -1;
    opacity: 0;

    &.loaded {
        opacity: 1;
    }

    &.page-wrap-disable {
        opacity: 0;
        transform: translateX(10%);
        filter: blur(.1em);
    }
}

.header {
    text-align: center;

    .business-card {
        perspective: 30em;
        width: 95%;
        height: 10em;
        max-width: 20em;
        margin: 1.5em auto;
        position: relative;
        z-index: 1;

        .front {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            transition: .3s ease-in-out;
            backface-visibility: hidden;
            transform: rotateY(0deg);
            z-index: 1;

            .work-details {
                h1 {
                    font-weight: 600 !important;
                    font-size: 2em;
                }

                font-size: .9em;
                font-weight: 600;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }

        .back {
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            transition: .3s ease-in-out;
            backface-visibility: hidden;
            transform: rotateX(180deg) translateX(-50%);
            padding: .5em;

            .profile {
                background: url("../img/profile.jpg");
                height: 7em;
                width: 7em;
                background-size: cover;
                border-radius: 5em;
                background-position: center center;
                border: .2em solid rgba(5, 15, 30, .9);
                margin: 0 auto 2em;
                filter: grayscale(100%);
                transition: .1s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
        }

        &:hover .back {
            transform: rotateX(360deg) translateX(-50%);
        }

        &:hover .front {
            transform: rotateX(180deg);
        }
    }

    .summary {
        position: relative;
        color: $color-summary !important;
        padding: 0 1.4em;

        &:before {
            content: "\f10d";
            font: normal normal normal 14px/1 FontAwesome;
            color: initial;
            position: absolute;
            left: 0;
            font-size: 1.3em;
            filter: blur(1.2px);
            top: 0;
        }

        &:after {
            content: "\f10e";
            font: normal normal normal 14px/1 FontAwesome;
            color: initial;
            position: absolute;
            right: 0;
            font-size: 1.3em;
            filter: blur(1.2px);
            top: 0;
        }
    }

    .dl-resume-container {
        margin-top: 2.5em;
        margin-bottom: .6em;
        font-size: 1.2em;
        transition: .3s ease-in-out;

        .dl-resume-header {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
            margin-bottom: .5em;
        }

        .dl-resume-body {
            padding: .5em .1em;
            margin: auto;

            a {
                i {
                    padding: .1em 1em;
                    font-size: 2em;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                &:first-child:after {
                    content: $divider;
                    color: $color-accent;
                    font-size: 1.5em;
                }
            }
        }
    }
}

.interests {
    .tech-icons-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;

        i {
            text-shadow: 0.02em 0.02em 0.03em rgba(0, 0, 0, .5);
            font-size: 5em;
            margin: .3em;
            transition: .5s ease-in-out;
            filter: grayscale(100%);

            &:hover {
                transform: scale(1.2);
                filter: grayscale(0);
                transition: .3s ease-in-out;
            }
        }
    }
}

.info {
    ul {
        font-size: 1.1em;
        @include list-item-highlight(transparent,
        transparent,
        $color-accent,
        $bullet-default);
    }
}

.highlights {
    ul {
        @include list-item-highlight(transparent,
        rgba(0, 0, 0, .1),
        $color-accent,
        $bullet-default);
    }
}

.skills {
    ul {
        @include list-item-highlight(transparent,
        transparent,
        $color-accent,
        $bullet-default);

        h4 {
            font-weight: 600 !important;
        }
    }
}

.opensource {
    ul {
        h4 {
            font-weight: 600 !important;

            .site-link {
                color: $color-accent !important;
                font-size: .8em;
            }
        }

        @include list-item-highlight(transparent,
        rgba(0, 0, 0, .1),
        $color-accent,
        $bullet-default);
    }
}

.projects {
    ul {
        @include list-item-highlight(transparent,
        rgba(0, 0, 0, .1),
        $color-accent,
        $bullet-default);

        h4 {
            font-weight: 600 !important;
        }
    }
}

.experience {
    .job {
        h4 {
            .details-btn {
                .details-icon {
                    color: $color-accent !important;
                }
            }
        }

        .summary {
            color: $color-summary;
            font-weight: 300;
            margin: .5em 0;
            font-size: .9em;
        }

        .details {
            .job-detail-label {
                font-weight: 600 !important;
            }

            ul {
                @include list-item-highlight(transparent,
                rgba(0, 0, 0, .1),
                $color-accent,
                $bullet-default);
            }

            .environment {
                background-color: rgba(0, 0, 0, .1);
                padding: 0.5em;
            }
        }
    }
}

.achievements {
    .patent {
        a {
            font-weight: 200;
            color: $color-accent !important;
        }
    }

    .achievement {
        .summary {
            color: $color-summary;
            font-weight: 300;
            font-size: .9em;

            a {
                font-weight: 200;
                color: $color-accent !important;
            }
        }
    }
}

@media handheld,
(max-width: 640px),
(max-height: 400px) {
    section>.section-header {
        text-align: center;
    }

    .business-card {
        .back {
            display: none !important;
        }

        .front {
            transform: none !important;
        }
    }
}

@import 'loader';