html,
body {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 1em; }

i,
a,
h1,
ul,
li {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

a {
  cursor: pointer;
  color: inherit !important; }

ul,
li {
  list-style-type: none !important;
  margin-left: 0;
  padding-left: 0;
  -webkit-transition: .3s;
  transition: .3s; }

i,
a,
button,
select,
div {
  text-decoration: none !important;
  outline: none !important; }

section {
  max-width: 60em;
  margin: auto;
  overflow-x: hidden;
  padding: 1em 1em 0em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: visible;
  word-wrap: break-word;
  font-weight: 300;
  font-size: 1.05em; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
  margin-top: 10px;
  margin-bottom: 10px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

::-webkit-scrollbar {
  display: none; }

.footer {
  font-size: 1.2em;
  margin: 1em auto;
  text-align: center; }

.experience > span:after,
.environment > span:after,
.projects > span:after,
.opensource > span:after,
.skills > ul > li > span:after,
.work-details > span:nth-child(odd):after {
  content: " / ";
  color: #089ee5; }

.experience > span:last-child:after,
.environment > span:last-child:after,
.projects > span:last-child:after,
.opensource > span:last-child:after,
.skills > ul > li > span:last-child:after {
  content: ''; }

h2,
.header-name,
.nav-close,
.nav-menu > ul > li:nth-child(even) {
  color: #089ee5 !important; }

.nav-btn {
  position: fixed;
  width: 3em;
  z-index: 999;
  right: .2em;
  top: .5em; }
  .nav-btn .nav-icon > span {
    display: block;
    height: .2em;
    width: 2em;
    background-color: #089ee5;
    margin: 0.3em;
    border-radius: 1em;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .nav-btn.nav-close .nav-icon > .first {
    -webkit-transform: rotate(-45deg) translate(0, 0em);
            transform: rotate(-45deg) translate(0, 0em);
    -webkit-transform-origin: right;
            transform-origin: right; }
  .nav-btn.nav-close .nav-icon > .second {
    opacity: 0; }
  .nav-btn.nav-close .nav-icon > .third {
    -webkit-transform: rotate(45deg) translate(-0.3em, -1.1em);
            transform: rotate(45deg) translate(-0.3em, -1.1em);
    -webkit-transform-origin: left;
            transform-origin: left; }

.nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  padding: 0.2em .4em;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  background: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  overflow-x: hidden; }
  .nav.nav-open {
    visibility: visible;
    opacity: 1;
    z-index: 998;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .nav .nav-menu {
    width: 100%;
    height: 100%; }
    .nav .nav-menu ul {
      padding: 2em 0 !important;
      width: 100%; }
      .nav .nav-menu ul li {
        padding: 0.3em 0.5em !important;
        background-color: transparent;
        border-bottom: 1px solid white;
        -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0); }
        .nav .nav-menu ul li a {
          padding-right: 1em; }
          .nav .nav-menu ul li a:hover {
            padding-right: 1.1em; }
        .nav .nav-menu ul li:before {
          content: "";
          line-height: 1.8em;
          position: absolute;
          z-index: -1;
          top: 0;
          left: -.5em;
          right: 0;
          bottom: 0;
          background-color: transparent !important;
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 0 50%;
                  transform-origin: 0 50%;
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          -webkit-transition-duration: 0.5s;
                  transition-duration: 0.5s;
          -webkit-transition-timing-function: ease-out;
                  transition-timing-function: ease-out; }
        .nav .nav-menu ul li:hover {
          -webkit-transform: translateX(1em) scale(1.01);
                  transform: translateX(1em) scale(1.01);
          -webkit-transform-origin: left;
                  transform-origin: left;
          opacity: .7;
          background-color: transparent !important;
          color: inherit; }
        .nav .nav-menu ul li:hover:before {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1); }
      .nav .nav-menu ul li {
        padding: .1em 1em !important; }
        .nav .nav-menu ul li a {
          font-size: 10vmin;
          font-weight: 200; }

.page-wrap {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
  z-index: -1; }
  .page-wrap.page-wrap-disable {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    -webkit-filter: blur(0.1em);
            filter: blur(0.1em); }

.header {
  text-align: center; }
  .header a .profile {
    background: url("../images/profile.jpg");
    height: 7em;
    width: 7em;
    box-shadow: 0em 0em 0.1em 0.1em rgba(0, 0, 0, 0.5);
    background-size: cover;
    border-radius: 5em;
    background-position: center center;
    margin: 1.5em auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .header a .profile:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
  .header .work-details {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase; }
  .header .summary {
    position: relative;
    color: rgba(0, 0, 0, 0.6) !important;
    padding: 0 1em; }
    .header .summary:before {
      content: "\f10d";
      font: normal normal normal 14px/1 FontAwesome;
      color: initial;
      position: absolute;
      left: 0;
      top: 0; }
    .header .summary:after {
      content: "\f10e";
      font: normal normal normal 14px/1 FontAwesome;
      color: initial;
      position: absolute;
      right: 0;
      top: 0; }
  .header .dl-resume-header {
    margin-top: 2.5em;
    margin-bottom: .6em;
    font-size: 1.2em;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .header .dl-resume-header a {
      border: 3px solid #089ee5;
      padding: .5em;
      display: inline; }
      .header .dl-resume-header a i:after {
        content: " / ";
        color: #089ee5; }
    .header .dl-resume-header:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.interests .tech-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  .interests .tech-icons-list img {
    width: auto;
    height: 5em;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    margin: 1em;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .interests .tech-icons-list img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }

.info ul {
  font-size: 1.1em; }
  .info ul li {
    padding: 0.3em 0.5em !important;
    background-color: transparent;
    border-bottom: 1px solid white;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0); }
    .info ul li a {
      padding-right: 1em; }
      .info ul li a:hover {
        padding-right: 1.1em; }
    .info ul li:before {
      content: " > ";
      line-height: 1.8em;
      position: absolute;
      z-index: -1;
      top: 0;
      left: -.5em;
      right: 0;
      bottom: 0;
      background-color: transparent !important;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out; }
    .info ul li:hover {
      -webkit-transform: translateX(1em) scale(1.01);
              transform: translateX(1em) scale(1.01);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: .7;
      background-color: transparent !important;
      color: #089ee5; }
    .info ul li:hover:before {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }

.highlights ul li {
  padding: 0.3em 0.5em !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }
  .highlights ul li a {
    padding-right: 1em; }
    .highlights ul li a:hover {
      padding-right: 1.1em; }
  .highlights ul li:before {
    content: " > ";
    line-height: 1.8em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.5em;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .highlights ul li:hover {
    -webkit-transform: translateX(1em) scale(1.01);
            transform: translateX(1em) scale(1.01);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: .7;
    background-color: transparent !important;
    color: #089ee5; }
  .highlights ul li:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.skills ul li {
  padding: 0.3em 0.5em !important;
  background-color: transparent;
  border-bottom: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }
  .skills ul li a {
    padding-right: 1em; }
    .skills ul li a:hover {
      padding-right: 1.1em; }
  .skills ul li:before {
    content: " > ";
    line-height: 1.8em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.5em;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .skills ul li:hover {
    -webkit-transform: translateX(1em) scale(1.01);
            transform: translateX(1em) scale(1.01);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: .7;
    background-color: transparent !important;
    color: #089ee5; }
  .skills ul li:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.skills ul h4 {
  font-weight: 600 !important; }

.opensource ul h4 {
  font-weight: 600 !important; }
  .opensource ul h4 .site-link {
    color: #089ee5 !important;
    font-size: .8em; }

.opensource ul li {
  padding: 0.3em 0.5em !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }
  .opensource ul li a {
    padding-right: 1em; }
    .opensource ul li a:hover {
      padding-right: 1.1em; }
  .opensource ul li:before {
    content: " > ";
    line-height: 1.8em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.5em;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .opensource ul li:hover {
    -webkit-transform: translateX(1em) scale(1.01);
            transform: translateX(1em) scale(1.01);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: .7;
    background-color: transparent !important;
    color: #089ee5; }
  .opensource ul li:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.projects ul li {
  padding: 0.3em 0.5em !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }
  .projects ul li a {
    padding-right: 1em; }
    .projects ul li a:hover {
      padding-right: 1.1em; }
  .projects ul li:before {
    content: " > ";
    line-height: 1.8em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.5em;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .projects ul li:hover {
    -webkit-transform: translateX(1em) scale(1.01);
            transform: translateX(1em) scale(1.01);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: .7;
    background-color: transparent !important;
    color: #089ee5; }
  .projects ul li:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.projects ul h4 {
  font-weight: 600 !important; }

.experience .job h4 .details-btn .details-icon {
  color: #089ee5 !important; }

.experience .job .summary {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin: .5em 0;
  font-size: .9em; }

.experience .job .details .job-detail-label {
  font-weight: 600 !important; }

.experience .job .details ul li {
  padding: 0.3em 0.5em !important;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }
  .experience .job .details ul li a {
    padding-right: 1em; }
    .experience .job .details ul li a:hover {
      padding-right: 1.1em; }
  .experience .job .details ul li:before {
    content: " > ";
    line-height: 1.8em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.5em;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  .experience .job .details ul li:hover {
    -webkit-transform: translateX(1em) scale(1.01);
            transform: translateX(1em) scale(1.01);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: .7;
    background-color: transparent !important;
    color: #089ee5; }
  .experience .job .details ul li:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.experience .job .details .environment {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5em; }

.achievements .patent a {
  font-weight: 200;
  color: #089ee5 !important; }

.achievements .achievement .summary {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  font-size: .9em; }
  .achievements .achievement .summary a {
    font-weight: 200;
    color: #089ee5 !important; }

.scroll-btn {
  color: #089ee5 !important;
  font-size: 3em;
  cursor: pointer;
  -webkit-transition: 0.8s cubic-bezier(0.83, -0.03, 0.54, 0.99);
  transition: 0.8s cubic-bezier(0.83, -0.03, 0.54, 0.99);
  position: fixed;
  right: .2em;
  bottom: 0em;
  z-index: 997; }
  .scroll-btn.top {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg); }

@media handheld, (max-width: 640px), (max-height: 400px) {
  section > .section-header {
    text-align: center; }
  .scroll-btn {
    display: none; }
  .tech-icons-list img {
    height: 3em !important; } }
