$color-accent: #089ee5;
$divider: ' / ';
$border-radius: 2px;
$background-color: #282f35;
$element-bg-color: transparent;
$transition-default: .3s ease-in-out;
$font-family: 'Montserrat',
'Helvetica Neue',
Arial,
sans-serif;

@mixin list-item-highlight($highlight-color, $li-color, $text-color) {
    li {
        padding: 0.3em 0.5em !important;
        background-color: $li-color;
        border-bottom: 1px solid white;
        transform: perspective(1px) translateZ(0);

        a {
            padding-right: 1em;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

/* general styling */

html,
body {
    background-color: $background-color;
    font-size: 12px;
    font-family: $font-family;

    &.disable-scroll {
        overflow-y: hidden;
    }
}

i,
a,
h1,
ul,
li {
    transition: $transition-default;
}

a {
    cursor: pointer;
    color: inherit !important;
}

ul,
li {
    list-style-type: none !important;
    margin-left: 0;
    padding-left: 0;
}

ul.bullets-check-o {
    li:before {
        content: '\f058';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        padding-right: 10px;
    }
}

ul.bullets-tack {
    li:before {
        content: '\f08d';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        padding-right: 10px;
    }
}

i,
a,
button,
select,
div {
    text-decoration: none !important;
    outline: none !important;
}

section {
    background-color: #fffffff0;
    position: relative;
    border-radius: $border-radius;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 75em;
    margin: 1.5em auto;
    overflow-x: hidden;
    padding: 1em 1.5em;
    transition: $transition-default;
    overflow: visible;
    word-wrap: break-word;
    font-weight: 300;

    &:first-child {
        background-image: url('../img/bg-card.png');
        background-size: cover;
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar {
    display: none;
}

/* hover events */

.no-touch li:hover {
    border-bottom: 1px solid transparent !important;
    background-color: #009eecc7 !important;
    color: white;
    border-radius: $border-radius;
}

.no-touch .skills>ul>li:hover {
    .proficiency {
        opacity: 1;
    }

    span:after {
        color: white;
    }
}

.no-touch .skills>ul h4:hover {
    +li .proficiency {
        opacity: 1;
    }
}

.no-touch .dl-resume-btn:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
}

/* element styling */

.footer {
    color: #fff;
    position: relative;
    margin: 4.5em auto 0;
    padding: 4em 0 .5em;
}

.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: $color-accent;
}

.scrolltop-btn {
    cursor: pointer;
    position: absolute;
    top: -16px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.experience>job>span:after,
.environment>span:after,
.skills>ul>li>span:after,
.work-details>span:nth-child(odd):after {
    content: $divider;
    color: $color-accent;
    font-weight: 600;
    opacity: .7;
}

.experience span:last-child:after,
.environment span:last-child:after,
.projects span:last-child:after,
.opensource span:last-child:after,
.skills>ul li>span:last-child:after,
#skills>ul>li>span:last-child:after,
#skills>ul>li>span:nth-child(7):after {
    content: '';
}

.header-name,
.section-header {
    text-transform: uppercase;
    color: $color-accent !important;
}

.pull-right {
    float: right;
}

.section-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.4em 1em 0 0;

    i {
        font-size: 1.5em;
    }
}

.text-shadow {
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, .2);
}

.accent-color {
    color: $color-accent !important;
}

.align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.proficiency {
    transition: $transition-default;
    position: absolute;
    right: 0;
    top: -21px;
}

#bg-img {
    background: $background-color url('../img/code.png');
    transform-origin: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: $transition-default;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    transition: $transition-default;
}

.dl-resume-container {
    margin: 3em auto 2em;

    .dl-resume-btn {
        padding: 10px;
        background: url('../img/bg-card.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $border-radius;
        background-color: $color-accent;
        color: #fff !important;
        font-weight: 600;
        transition: $transition-default;
    }
}

.no-touch .proficiency {
    opacity: 0;
}

/* content styling */

.page-wrap {
    padding: 0 1em;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    transition: $transition-default;

    &.loading {
        opacity: 0;
    }
}

.header {
    .work-details {
        h1 {
            font-weight: 600 !important;
            font-size: 2em;
        }

        .profile {
            border-radius: 50%;
            width: 10em;
            margin: 0 auto 2em;
            filter: grayscale(100%);
        }

        margin: 1.5em auto;
        font-size: .9em;
        font-weight: 600;
        width: 100%;
    }

    .summary {
        position: relative;
        padding: 0 1.45em;

        &:before {
            content: '\f10d';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            color: initial;
            position: absolute;
            left: 0;
            font-size: 1em;
            top: 0;
        }

        &:after {
            content: '\f10e';
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
            color: initial;
            position: absolute;
            right: 0;
            font-size: 1em;
            top: 0;
        }
    }
}

.interests {
    .tech-icons-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;

        i {
            font-size: 5em;
            margin: .3em;
            transition: $transition-default;
            filter: grayscale(100%);

            &:hover {
                transform: scale(1.2);
                filter: grayscale(0);
            }
        }
    }
}

.info {
    ul {
        @include list-item-highlight(transparent,
        transparent,
        $color-accent);

        li {
            a {
                transition: 0s;

                i {
                    margin-right: .5em;
                    padding: 0.4em 1.5em 0.4em 0.5em;
                    transition: 0s
                }
            }
        }
    }
}

.highlights {
    ul {
        @include list-item-highlight(transparent,
        $element-bg-color,
        $color-accent);
    }
}

.skills {
    ul {
        @include list-item-highlight(transparent,
        transparent,
        $color-accent);

        li {
            position: relative;
        }
    }
}

.opensource {
    ul {
        @include list-item-highlight(transparent,
        $element-bg-color,
        $color-accent);
    }
}

.projects {
    ul {
        @include list-item-highlight(transparent,
        $element-bg-color,
        $color-accent);
    }
}

.experience {
    .job {

        img {
            width: 8em;
            height: auto;
            padding: .5em 0;
        }

        .summary {
            font-size: 1.05em;
            font-weight: 300;
            margin: .5em 0;
            background-color: $element-bg-color;
            padding: .3em .5em !important;
        }

        .details {
            .job-detail-label {
                font-weight: 600 !important;
            }

            ul {
                @include list-item-highlight(transparent,
                $element-bg-color,
                $color-accent);
            }

            .environment {
                background-color: $element-bg-color;
                padding: 0.5em;
            }
        }
    }
}

.achievements {
    .patent {
        a {
            font-weight: 200;
        }
    }

    .achievement {
        .summary {
            background-color: $element-bg-color;
            padding: .5em;

            a {
                font-weight: 200;
            }
        }
    }
}

/* mobile styling */

@media handheld,
(max-width: 1024px) {
    section {
        background-color: #fffffff0;
    }
}

@media handheld,
(max-width: 450px) {
    .detail-row>.pull-right {
        float: initial;
        display: block;
        margin-top: .5em;
    }
}

@import 'loader';